@font-face {
  font-family: "Haas";
  src: url("./assets/font/NHaasGroteskTXPro-55Rg.woff") format("woff"),
    url("./assets/font/NHaasGroteskTXPro-65Md.woff") format("woff"),
    url("./assets/font/NHaasGroteskTXPro-75Bd.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Haas", ui-serif, Georgia, Times, serif;
}

header li,
.dropdown li {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  z-index: 6;
}

.dropdown {
  display: none;
}
.header-inner {
  max-width: 1272px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  flex: 2;
  font-weight: 600;
}

.header-inner ul li {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 10px;
}

header .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-hover,
.app-button-hover {
  margin-right: 10px;
  box-sizing: border-box;
  padding: 3px;
  width: 92px;
  height: 41px;
}

.button-hover:hover,
.app-button-hover:hover {
  border: 2px solid #2a3d6b;
  border-radius: 0.5rem;
  padding: 1px;
}

header .button-container button {
  background: linear-gradient(
    90deg,
    #46a273 -0.2%,
    #46a273 0.36%,
    #133641 100.2%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 86px;
  height: 35px;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 10px;
  color: #fff;
  border-radius: 0.25rem;
  text-shadow: 1px 1px #185c23, -1px -1px #205194;
  font-family: "Haas", ui-serif, Georgia, Times, serif;
  border: none;
}

.elrond-img {
  position: relative;
  bottom: 1px;
}

.app-btn {
  background: url("./assets/images/app.svg") !important;
  background-size: cover !important;
}

.hatom-link {
  color: #3555f7;
  padding-bottom: 5px;
  border-bottom: 2px solid #3555f733;
}

.menu-icon {
  display: none;
}

#main-container {
  position: relative;
  height: fit-content;
}

.heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 8.7vw;
}

.heading-container img {
  width: 591px;
}

.heading-container div {
  color: #3d906a;
}

#bg-container {
  height: auto;
}

#bg-img {
  position: relative;
  width: 100vw;
}

.bg-img-mid,
.bg-img-top,
.bg-over-light {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}
#bg-img {
  z-index: 1;
}

.bg-img-mid {
  z-index: 3;
}

.bg-img-top {
  z-index: 4;
}

.bg-over-light {
  z-index: 5;
}

#coin-container {
  width: 94vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 270px;
  max-height: 270px; */
  z-index: 2;
  top: 30vw;
  margin-left: 6vw;
}

#coin {
  height: 15.06vw;
  width: 15.06vw;
  background-image: url("./assets/images/img65.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.hotem-features {
  position: relative;
  height: 848px;
  width: 1272px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.dividends {
  width: 882px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.dividend-heading {
  font-size: 34px;
  font-weight: 600;
}

.dividend-word {
  margin-left: 10px;
  color: #179c64;
}

.dividend-btn {
  background: transparent;
  outline: none;
  border: none;
  height: 48px;
  overflow: hidden;
  border-radius: 7px;
  font-size: 18px;
  width: 189px;
  color: #fff;
  background-image: url("./assets/images/dividend-btn.svg");
  background-size: auto;
}

.dividend-feature {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
}

.div-feature-top {
  font-size: 40px;

  margin-top: 100px;
  margin-bottom: 48px;
}

.div-feature-top h2 {
  color: #3555f7;
  font-size: 40px;
}
.div-feature-top span {
  color: #000;
}

#div-feature-btm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: url("./assets/images/indicators-web.svg");
  background-repeat: no-repeat;
  background-position: 41% 5%;
  flex: 1;
}

.left-feature,
.right-feature {
  width: 320px;
}

.right-feature {
  padding-left: 10px;
}

.left-feature span,
.right-feature span {
  font-size: 32px;
}

.left-feature p,
.right-feature p {
  margin-top: 24px;
  font-size: 16px;
}

.left-feature div:last-child {
  margin-top: 145px;
}

.understanding-container {
  height: 780px;
  width: 100%;
  background: linear-gradient(
    100.1deg,
    #132878 -3.95%,
    #03192f 21.83%,
    #021326 98.76%,
    #00460f 103.65%
  );
}

.understanding {
  height: 604px;
  width: 1272px;
  margin: 96px auto;
}

.understanding h2 {
  font-size: 40px;
  color: #fff;
  margin: 0;
  margin-bottom: 4rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.card-container .card-deatils {
  width: 30%;
  height: 490px;
  display: flex;
  flex-direction: column;
}

.card-container .card-deatils p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0;
}
.card-container a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3555f7;
}
.card-btm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

.partner-container {
  height: 1119px;
  width: 100vw;
  box-sizing: border-box;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 301px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #265b5c, #11206b);
  padding: 0 2.5rem;
  text-align: center;
}

.subscribe-inner {
  display: flex;
  flex-direction: column;
  height: 178px;
  color: #fff;
}

.subscribe-heading {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
}

.subscribe-details {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 8px;
  font-weight: 100;
  opacity: 0.6;
}

.input-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: rgb(49 91 130);
  padding: 6px;
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
}

.subscribe-inner form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 64px;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  margin-top: 28px;
}

.input-container input {
  height: 60px;
  padding: 0 0 0 1.5rem;
  background: transparent;
  width: 73%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.input-container input::placeholder {
  color: #fff;
}

.input-container button {
  width: 25%;
  background: linear-gradient(270deg, #1b4347 -1.39%, #3d906a 99.46%);
  padding: 1rem 2.25rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  border: none;
  transition-duration: 0.15s;
  cursor: pointer;
  box-sizing: border-box;
}

.input-container button:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  /* height: 365px; */
  padding: 0 3rem;
  padding-top: 51px;
  box-sizing: border-box;
  background: rgb(3 18 34);
  color: #fff;
}

.footer-top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-top span {
  font-size: 16px;
}

.footer-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 165px;
}

.footer-top li {
  font-size: 12px;
  color: #6a7daa;
  margin-top: 20px;
}

.f-btn-container {
  margin-right: 10px;
  box-sizing: border-box;
  padding: 3px;
  width: 87px;
  height: 57px;
}

.f-btn-container:hover {
  border: 2px solid #2a3d6b;
  border-radius: 0.5rem;
  padding: 1px;
}

.footer-top button {
  width: 81px;
  height: 52px;
  background: url("./assets/images/footerBtn.svg") !important;
  background-size: cover !important;
  border: none;
}

.footer-top img {
  height: 2rem;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #6a7daa;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(18 33 69);
}

.f-logos svg:hover {
  fill: #fff;
  cursor: pointer;
}

.footer-mid .logo-container {
  width: 137px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 12px;
  padding: 16px;
  color: #6a7daa;
}

.blinker {
  position: relative;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: rgb(0 211 148);
  right: 10px;
  animation: blinker 1.5s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.footer-bottom div {
  display: flex;
  align-items: center;
}

.footer-bottom img {
  margin-left: 10px;
}

@media only screen and (max-width: 1279px) {
  #coin {
    width: 18.51vw;
    height: 18.51vw;
  }
  #div-feature-btm {
    background-image: url("./assets/images/indicators-mid.svg");
  }

  .hotem-features {
    width: calc(100% - 2rem);
    margin: 0;
    padding: 0 1rem;
  }
  .understanding {
    width: calc(100% -2rem);
    padding: 0 1rem;
    margin: auto;
  }

  .right-feature {
    width: 240px;
  }

  .understanding {
    height: 604px;
    width: calc(100% - 2rem);
    margin: 96px 0;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .heading-container img {
    width: 50%;
  }
  .div-feature-top h2 {
    font-size: 1.875rem;
    text-align: center;
    position: relative;
    top: 250px;
    width: 288px;
    margin: 0 auto;
  }

  .dividends {
    width: 282.59px;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 200px;
  }

  .dividend-heading {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 8px;
  }

  .dividend-description {
    width: 262px;
    font-size: 1rem;
    margin: 0 auto 20px;
  }

  #div-feature-btm {
    background-image: url("./assets/images/indicators.svg");
    background-position: 50% 5%;
    background-size: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left-feature,
  .right-feature {
    width: 295px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .hotem-features {
    height: 1597.05px;
    flex-direction: column-reverse;
  }

  .left-feature div:last-child {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .understanding-container,
  .understanding {
    height: auto;
  }

  .understanding h2 {
    text-align: center;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-container .card-deatils {
    width: 347.5px;
    height: 420px;
    margin-bottom: 30px;
  }

  .card-container .card-deatils h3 {
    margin: 12px 0 6px 0;
  }
}

@media only screen and (max-width: 722px) {
  .menu-icon {
    display: contents;
    cursor: pointer;
  }

  .close {
    cursor: pointer;
  }

  .menu-icon svg {
    height: 20px;
    top: 1px;
    position: relative;
  }

  header .button-container button {
    width: 86px;
    height: 27px;
    font-size: 12px;
    padding: 7px;
  }

  .button-hover,
  .app-button-hover {
    height: 33px;
  }

  .app-btn {
    display: none !important;
  }

  .app-button-hover {
    display: none;
  }

  .header-inner ul {
    display: none;
  }

  .dropdown {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
      0deg,
      #b5d2ff,
      #a2bbf7 10%,
      #7380e4 30%,
      #5960d9 40%,
      #3939a1 72%,
      #1d166f
    );
    z-index: 7;
  }

  .d-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    height: 50px;
    padding: 16px;
    z-index: 6;
    margin-bottom: 100px;
  }

  .dropdown ul {
    list-style-type: none;
    width: calc(100% - 100px);
    margin: 0;
    padding: 0 50px;
    text-align: center;
  }

  .dropdown ul li {
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
    color: #fff;
    font-size: 14px;
  }

  .dropdown button {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: transparent;
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
  }

  .b-hatom-link:hover {
    color: #3555f7;
    padding-bottom: 5px;
    border-bottom: 2px solid #3555f733;
  }

  .logo {
    width: 97.5px;
    height: 32.5px;
  }

  .left-feature,
  .right-feature {
    margin-bottom: 75px;
    margin-top: 5px;
    width: 295px;
  }

  .div-feature-top {
    margin-top: 0px;
  }

  .subscribe-inner form {
    padding: 0;
  }

  .subscribe-container {
    height: 400px;
    align-items: flex-start;
    padding: 4rem 0.8rem;
  }

  .subscribe-heading {
    font-size: 1.875rem;
    line-height: 1.25;
  }

  .subscribe-details {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .subscribe-inner form {
    width: 100%;
  }

  .input-container {
    justify-content: center;
  }

  .input-container input {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 0;
  }

  .input-container button {
    position: absolute;
    top: 85px;
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  .heading-container {
    top: 20vw;
  }

  #coin-container {
    top: 80vw;
  }

  #coin {
    height: 31vw;
    width: 31vw;
  }

  .f-btn-container {
    display: none;
  }

  footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-top img {
    margin-right: 30px;
  }

  .footer-mid {
    flex-direction: row-reverse;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-top ul {
    padding: 0 12;
    height: 165px;
    box-sizing: border-box;
    width: 165px;
  }
}
